* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: white;
    --text-color: black;
    --page-font: "Comic Sans MS", cursive, sans-serif;
    --scroll-transition-time: 3s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
    transition: background-color var(--scroll-transition-time);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100vw;
    background-color: white;
    transition: background-color var(--scroll-transition-time),
                border-bottom var(--scroll-transition-time);
    border-bottom: 4px dashed black;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60vw;
}

h1,
h2,
p,
div {
    font-family: var(--page-font);
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}

h2 {
    font-weight: normal;
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.center {
    text-align: center;
}

.link {
    font-family: var(--page-font);
    font-size: 1.25rem;
    text-align: center;
    transition: transform 0.3s;
}

.link:hover {
    transform: scale(1.5);
}

.text-color {
    color: var(--text-color);
    transition: color var(--scroll-transition-time);
}

.responsive {
    display: block;
    float: right;
    margin: 1rem; 
    max-width: 300px;
    transition: opacity calc(var(--scroll-transition-time) / 2);
    width: 25vw;
}

#home,
#resume {
    width: 100%;
    background-size: 100vw 100vh;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
}

#home {
    background-image: url(images/background.png);
    animation: scroll 8s linear infinite;
}

#resume {
    background-image: url(images/cactus.png);
    background-position: bottom;
    animation: scroll-reverse 16s linear infinite;
}

@media (max-width: 750px) {
    section {
        width: 80vw;
    }

    nav {
        height: 150px;
    }

    nav .buttons {
        flex-direction: column;
    }

    .responsive {
        display: none;
    }
}

@keyframes scroll {
    0% {background-position: 0 0;}
    100% {background-position: 100vw 0;}
}

@keyframes scroll-reverse {
    0% {background-position: 100vw 0;}
    100% {background-position: 0 0;}
}